.App {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 24px;
  width: 50%;
  box-sizing: border-box;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid;
  text-align: left;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  border: 1px solid #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

.user-list {
  width: 100%;
}

.add-user {
  margin-bottom: 12px;
}

.add-edit-user-section {
  border: 1px solid;
  padding: 24px;
  margin-top: 24px;
}

label {
  font-size: large;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

input {
  display: block;
  padding: 8px;
  width: 96%;
  margin-bottom: 8px;
}

.form-action-section {
  gap: 10px;
  display: flex;
  margin: 12px 0px;
  justify-content: center;
}

.form-action-section button {
  padding: 8px;
  width: 100px;
}

.error-text {
  color: red;
}

.success-text {
  text-align: center;
  color: green;
  margin: 0;
}